.svg-share,
.svg-smile {
	width: 19px;
	height: 19px;
}

.svg-mic {
	width: 14px;
	height: 23px;
}

$messages-block-radius: 15px;

.messages-block {

	margin: 16px 65px;

	.messages {
		background: #DADADA;
		border-top-left-radius: $messages-block-radius;
		border-top-right-radius: $messages-block-radius;
		height: 380px;
		overflow-x: hidden;
		overflow-x: auto;
	}

	.form {
		position: relative;
		margin-top: 1px;
		min-height: 40px;
		.block {
			border-bottom-left-radius: $messages-block-radius;
			border-bottom-right-radius: $messages-block-radius;
			padding: 10px 100px 10px 15px;
			background: #F5F5F5;
			color: black;
			textarea {
				background: transparent;
				resize: none;
				width: 100%;
				border: none;
				height: 16px;
				overflow: hidden;
				padding: 0;
				margin: 0;
				font-size: 14px;
				line-height: 14px;
			}
			.buttons {
				position: absolute;
				right: 14px;
				top: 10px;
				color: rgba(0,0,0,0.4);
				svg {
					margin-left: 10px;
					float: left;
				}
			}
		}
	}

	.disabled {
		.block {
			background: #949494;
			color: rgba(255,255,255,0.4);
			textarea {
				color: white;
			}
			.buttons {
				color: rgba(255,255,255,0.4);
			}
		}
	}


}

.create-new-bid {
	position: relative;
	text-align: center;
	margin-top: 65px;

	h2 {
		font-weight: 500;
		line-height: normal;
		font-size: 18px;
		margin: 0;
		padding: 0;
	}

	h3 {
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 12px;
		color: #0D0925;
		margin: 0;
		padding: 0;
	}

	.token-value {
		height: 105px;
		padding: 15px;
	}

	.logo-image {
		display: inline-block;
		line-height: 1;
		width: 56px;
		height: 56px;
		background: #FFF9FE url("/i/pa-logo-color-2.png") no-repeat center center;
		background-size: 32px 32px;
		border-radius: 50%;

	}

	.form {
		.values {
			.button {
				background: #9271B0;
				border: none;
				border-radius: 3px;
				width: 90px;
				height: 25px;
				color: white;
				line-height: normal;
				font-size: 14px;
				text-align: center;

			}
			.button:first-child {
				margin-right: 10px
			}
		}
		.submit {
			margin-top: 10px;
			width: 190px;
			height: 26px;
			background: linear-gradient(360deg, rgba(239, 145, 159, 0.9) 0%, rgba(255, 130, 153, 0.9) 100%), rgba(255, 255, 255, 0.85);;
			border: none;
			border-radius: 3px;
			color: white;
			line-height: normal;
			font-size: 14px;
			text-align: center;
			&:disabled {
				background: linear-gradient(360deg, rgba(188, 188, 188, 0.9) 0%, rgba(157, 157, 157, 0.9) 100%), rgba(255, 255, 255, 0.85);
			}
		}
	}

}


.abt-value {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 64px;
	background: linear-gradient(225deg, #FFF8FD 0%, #FDFAFF 100%);
	border-radius: 50%;
	border: 8px solid #BA9DC2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
	&-block {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
		color: #9371B0;
		&-middle {
			width: 100%;
		}

	}
	&-is-earned {
		font-size: 10px;
		line-height: 10px;
		height: 10px;
		text-align: center;
		font-weight: 200;
		font-style: italic;
	}
	&-numbers {
		font-size: 24px;
		line-height: 24px;
		height: 24px;
		text-align: center;
		font-weight: 300;
	}
	&-label {
		margin-top: 2px;
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		text-align: center;
		font-weight: 200;
	}
}


.bid-message {
	clear: both;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 20px;
	&-message {
		position: relative;
		width: 50%;
		float: right;
		margin-right: 72px;
		background: #F3F3F3;
		border-radius: 4px;
		color: #9371B0;
		font-size: 15px;
		line-height: 16px;

		&-block {
			padding: 16px 39px 16px 16px;
			float: left;
		}
		&-bid {
			position: absolute;
			right: -40px;
			bottom: -20px;
		}
	}
	&-buttons {
		clear: both;
		text-align: right;
		margin-top: 35px;
		margin-right: 31px;
		float: right;
		button {
			border: none;
		}
		.cancel {
			width: 188px;
			height: 26px;
			line-height: 26px;
			background: linear-gradient(360deg, rgba(239, 145, 159, 0.9) 0%, rgba(255, 130, 153, 0.9) 100%), rgba(255, 255, 255, 0.85);
			border-radius: 3px;
			font-size: 14px;
			text-align: center;

			color: #FFFFFF;
		}
	}
}


.users {
	.users-bid-abt {
		position: absolute;
		top: 10px;
		right: 6px;
		width: 60px;
		font-size: 12px;
		line-height: 15px;
		text-align: right;
		color: #FFFFFF;
		opacity: 0.5;
		&-bid {

		}
		&-abt {

		}
	}
}

.side-bar {
	.tabs {
		.tabs-search {
			width: 229px;
			height: 22px;
			line-height: 22px;
			font-size: 13px;

			background: rgba(255, 255, 255, 0.16);
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 3px;

			color: rgba(255,255,255,0.9);
			padding-left: 5px;

			&::placeholder {
				line-height: 22px;

				text-align: center;

				color: rgba(255,255,255,0.5);
			}
		}
	}
}


.messages {
	.chat-message {
		text-align: left;
		padding: 20px 32px 20px 32px;
		&-bid {
			padding-right: 72px;
			padding-left: 72px;
			.chat-message-block {
				width: 60%;
			}
			.chat-message-buttons {
				margin-top: 40px;
				margin-right: -36px;
			}
		}
		&-block {
			position: relative;
			width: 50%;

			display: inline-block;
			&-message {
				background: #C981A2;
				color: #303030;
				border-radius: 4px;
				padding: 16px;
				font-size: 15px;
				line-height: 17px;
				position: relative;
			}
			&-abt {
				position: absolute;
				// right: -40px;
				bottom: -30px;
			}
		}
		&-my {
			text-align: right;
			.chat-message-block-message {
				text-align: left;
				color: #9371B0;
				background: #F3F3F3;
			}
		}
		&-buttons {
			margin-top: 10px;
			text-align: right;
			&-button {
				width: 188px;
				height: 26px;
				background: linear-gradient(360deg, rgba(239, 145, 159, 0.9) 0%, rgba(255, 130, 153, 0.9) 100%), rgba(255, 255, 255, 0.85);
				border-radius: 3px;
				font-size: 14px;
				line-height: 26px;
				text-align: center;
				color: #FFFFFF;
				border: none;
				font-weight: 200;
			}
		}

	}
	.message-button {
		background: linear-gradient(360deg, rgba(239, 145, 159, 0.9) 0%, rgba(255, 130, 153, 0.9) 100%), rgba(255, 255, 255, 0.85);
		border-radius: 3px;
		width: 188px;
		height: 26px;
		left: 690px;
		top: 585px;
	}
}


.chat-message-big-circle {
	clear: both;
	margin: 0;
	padding: 10px 0 !important;
	.chat-message-block {
		width: 50%;
		display: inline-block;
		text-align: left;
		position: relative;
		margin-left: 16px;
		&-message {
			background: linear-gradient(225deg, #FFF8FD 0%, #FDFAFF 100%);
			border: 30px solid #BA9DC2;
			min-height: 60px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
			line-height: 16px;
			font-size: 15px;
			color: #9371B0;
			padding: 50px 15px;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			text-align: center !important;
			display: flex;
			width: 307px - 60px - 30px;
			height: 307px - 60px - 100px;
		}
		&-abt {
			position: absolute;
			right: -40px;
			bottom: -5px;
		}
		.chat-message-buttons {
			margin: 10px 13px 0 0;
			text-align: right;
			&-button {
				display: inline-block;
				border: none;
				width: 188px;
				height: 26px;
				left: 708px;
				top: 628px;
				font-size: 14px;
				text-align: center;
				color: #FFFFFF;
				background: linear-gradient(360deg, rgba(239, 145, 159, 0.9) 0%, rgba(255, 130, 153, 0.9) 100%), rgba(255, 255, 255, 0.85);
				border-radius: 3px;
			}
		}

		.chat-message-buttons :disabled{
			background: linear-gradient(360deg, rgba(188, 188, 188, 0.9) 0%, rgba(157, 157, 157, 0.9) 100%), rgba(255, 255, 255, 0.85);
		}

	}
}


