@import 'default';

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	background: #303030;
}

body, input, textarea {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

textarea, input[type="text"] {
	&:focus {
		outline-width: 0;
	}
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.img {
	background-repeat: no-repeat;
	background-size: contain;
	line-height: 1;
	overflow: hidden;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.catamaran {
	@include fontFamily(Catamaran);
}

.raleway {
	@include fontFamily(Raleway);
}

.svg {
	fill: currentColor;
	stroke: currentColor;
}

.svg-back {
	width: 8px;
	height: 16px;
}

.svg-crown {
	width: 27px;
	height: 20px;
}

.svg-lightning {
	width: 16px;
	height: 27px;
}

.svg-select {
	width: 12px;
	height: 7px;
}

.svg-burger {
	width: 25px;
	height: 17px;
}

#alert {
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.alert-danger {
	background: crimson;
}

.alert-success {
	background: forestgreen;
}


#root {
	position: relative;
	min-height: 100%;
}


#main {
	z-index: 10;
	position: relative;
	text-align: center;
	.main-title {
		font-style: normal;
		font-weight: 300;
		line-height: 56px;
		color: #FFFFFF;
		white-space: nowrap;
		overflow: hidden;
		@include fontFamily(Raleway)
	}
}


.is-browser {
	.info {
		line-height: 21px;
		font-size: 18px;
	}
	#main {
		z-index: 10;
		position: relative;
		padding-bottom: 72px;
		#main-block {
			margin: 0 auto 64px auto;
			width: 100%;
			max-width: 945px;
			z-index: 10;
			text-align: left;
			position: relative;
		}
		.main-title {
			padding: 40px 12px 15px 12px;
			margin: 0;
			font-size: 56px;
		}
	}
}


.is-mobile {
	.info {
		$font-size: 16px;
		line-height: $font-size+2px;
		text-align: left;
	}
	#main {
		z-index: 10;
		position: absolute;
		top: $header-height;
		bottom: 0;
		width: 100%;
		min-height: 500px;
		#main-block {
			position: absolute;
			top: 12px;
			left: 12px;
			right: 12px;
			bottom: 12px;
		}
	}
	.main-title {
		line-height: 56px;
		font-size: 32px;
		padding: 0 0 12px 0;
		margin: 27px 12px 0 12px;
	}
}



.form-error {
	color: #FF4778;
	font-weight: bold;
	margin-top: 8px;
}


.pageContentWrapper{
	margin-bottom:100px;
}

.is-mobile {
	.ui.basic.modal {
	}
	.ui.page.dimmer {
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.ui.dimmer {
		padding: 0 !important;
	}
	.ui.modal > .content {
		width: auto !important;
	}
}

.transparent-black-bg {
    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
    }
}

