@import 'default';


$height: 73px;


#top {
	width: 100%;
	height: $height;
	background: #FEFAFE;
}

.user-bar-select {
	&-menu {
		background: #FEFAFE;
		z-index: 9999;
		position: absolute;
		top: $height;
		right: 83px;
		padding: 16px 32px;
		&-li {
			display: block;
			height: 37px;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 300;
			line-height: normal;
			font-size: 16px;
			color: #9DA1A3;
			@include fontFamily(Catamaran);

			&:hover {
				color: black;
			}
		}
	}
	&-bg {
		position: absolute;
		z-index: 9998;
		top:$height;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
}


.top-bar {
	.more {
		position: relative;
		cursor: pointer;
		&-select {
			position: absolute;
			z-index: 10;
			top: 30px;
			right: -30px;
			background: #555555;
			box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			padding: 14px 28px;
			&-item {
				white-space: nowrap;
				font-size: 14px;
				text-align: left;
				color: #FFFFFF;
			}
		}
	}
}
