@import '../App/default';


#body-index {
	.is-mobile & {
		padding: 0 12px 60px 12px;
	}

	.info {
		font-style: normal;
		font-weight: 300;
		color: #FFFFFF;
		opacity: 0.8;
		display: block;
		@include fontFamily(Catamaran);
	}
	.buttons-block {
		.button {
			position: relative;
			height: 56px;
			border-radius: 28px;
			overflow: hidden;
			color: white;
			max-width: 380px;
			cursor: pointer;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			.icon {
				margin: 0;
			}
			.button-icon {
				position: absolute;
				left: 19px;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
			}
			.button-title {
				font-size: 17px;
				line-height: 20px;
				font-weight: 500;
				letter-spacing: 0.5pt;
				padding: 0 50px;
				text-align: center;
				@include fontFamily(Catamaran);
				.is-mobile & {
					font-size: 16px;
					line-height: 18px;
				}
			}
		}
		.signup {
			.button {
				background: #F2929E;
				.icon {
					color: #7633FF;
				}
			}
			label {
				display: block;
				line-height: 24px;
				height: 24px;
				font-size: 8px;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				color: #797979;
				margin: 0;
				padding: 0;
			}
			.input {
				height: 30px;
				background: transparent;
				border: none;
				color: #9DA1A3;
				font-size: 19px;
				.is-browser & {
					width: 472px;
				}
				.is-mobile & {
					width: 100%;
				}
			}
			.input, .input::placeholder, .placeholder {
				opacity: 1;
				line-height: 30px;
			}
			.input::placeholder, .placeholder {
				color: #797979;
				font-size: 17px;
			}
		}
		.signin {
			.form {
				.button {
					.is-mobile & {
						position: relative;
						top: 5px;
					}
				}
			}
			.button {
				background-color: #9A6FA9;
				.icon {
					width: 27px;
					height: 20px;
					color: #FF4778;
				}
			}
			.private-key {
				height: 56px;
				border: none;
				background: transparent;
				float: left;
				line-height: 24px;
				white-space: pre-wrap;
				resize: none;
				font-size: 19px;
				color: #9DA1A3;
				@include fontFamily(Catamaran)
				.is-browser & {
					width: 90%;
					margin-right: 4%;
				}
				.is-mobile & {
					width: 100%;
					margin-bottom: 10px;
				}

			}
		}
		.row {
			padding-top: 24px;
			clear: both;
		}
		.login-button-block, .private-key-block, .private-key {
			.is-browser & {
				float: left;
				width: 50%;

			}
			.is-mobile & {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}

#body-index .buttons-block .signup .input,
#body-index .buttons-block .signin .private-key {
	border-bottom: 1px solid #FF4778;
}

#body-index .buttons-block .signin .private-key::placeholder {
	font-size: 17px;
	color: #9DA1A3;
	opacity: 1;
	line-height: 56px;

}

#body-index .buttons-block .empty .input,
#body-index .buttons-block .signin .empty .private-key {
	border-color: #797979;
}


#body-index .buttons-block .button[disabled] {
	background: #AEA5B1;
}

#body-index .buttons-block .signup .button[disabled] .icon {
	color: #AE87FD;
}

#body-index .buttons-block .signin .button[disabled] .icon {
	color: #E2B6C1;
}


.select-avatar {
	.is-browser & {
		 width: 575px;
	}
	.is-mobile & {
		width: 100%;
	}
}

.select-avatar .avatar {
	float: left;
	width: 104px;
	height: 104px;
	background: #3E3E3E;
	border: 1px solid #797979;
	margin: 0 8px 8px 0;
	position: relative;
	padding: 0;
	cursor: pointer;
	background-size: 55px 55px;
	background-position: center center;
	background-repeat: no-repeat;
}

.select-avatar .selected {
	background-color: rgba(218, 72, 111, 0.24);
	border: 1px solid #FF4778;
}

.select-avatar .upload {
	border: 1px dashed #797979;
}

.select-avatar .upload .text{
	position: absolute;
	top: 28px;
	left: 12px;
	right: 12px;
	line-height: 24px;
	font-size: 13px;
	text-align: center;
	color: #797979;
}

.select-avatar .upload input[type="file"] {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.0001;
	cursor: pointer;
}

.select-avatar .avatar:hover,
.select-avatar .upload:hover .text{
	border-color: #FF4778;
	color: #FF4778;
}

.select-avatar .avatar img {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 25px;
	left: 25px;
}
