html {
  position:relative;
  min-height: 100%;
}

html, body {
  margin:0;
  padding:0;
}

body {
  background: #303030;
}

body, input, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
